body{
    text-align:center;
}

#home{
font-size: 50px;
font: sans-serif;
color:black;
}

h1{
font-size: 50px;
font: sans-serif;
color:black; 
}

a{
    
}
https://www.html.am/html-codes/marquees/html-scrolling-text.cfm