html, body { 
  height: 100%; 
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;
  background: #000; 
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; 
}

body{
text-align:center;
}

#home{
font-size: 50px;
font: sans-serif;
color:blue;
}

h1{
color:black; 
}

a{
    
}
https://www.html.am/html-codes/marquees/html-scrolling-text.cfm